# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel config
.vercel/

# Local environment
.env

# Firebase credentials
firebase-key.json

# System files
.DS_Store
Thumbs.db
